//- Define a mixin for displaying alerts
mixin alertMessage(type, message)
    if message
        .container.my-0
            .alert.alert-dismissible.fade.show(class="alert-" + type, role="alert")
                //- Display an icon depending on the alert type
                if type === "info"
                    i.fas.fa-info-circle.me-2(aria-hidden="true")
                else if type === "danger"
                    i.fas.fa-exclamation-triangle.me-2(aria-hidden="true")
                else if type === "success"
                    i.fas.fa-check-circle.me-2(aria-hidden="true")
                else if type === "warning"
                    i.fas.fa-exclamation-circle.me-2(aria-hidden="true")
                span= message
                //- Use Bootstrap 5 dismiss button markup
                button.btn-close(type="button", data-bs-dismiss="alert", aria-label="Close")

doctype html
html(lang=lang)
    head
        meta(charset='UTF-8')
        title=pageTitle
        link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap")
        link(rel="stylesheet", href="/stylesheets/ziyiliu.css")
        link(rel="stylesheet", href="/modules/@fortawesome/fontawesome-free/css/all.min.css")
    body.bg-light.min-vh-100.d-flex.flex-column.p-4.m-sm-auto.p-sm-auto
        div.phoframe
        div.container-fluid.flex-grow-1(style="min-height: 100%; position: relative;display: flex; flex-direction: column;")
            // Navbar
            nav.navbar.navbar-expand-sm.navbar-light.bg-light(style='z-index: 100;')
                div.container
                    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target='#mainNavbarNav', aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    #mainNavbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item.d-flex.justify-content-center
                                a.nav-link(href=domain, class=(activePage === "Home" ? "active" : ''))
                                    span(class=(activePage === "Home" ? "underline" : '')) ZLiu's
                            li.nav-item.d-flex.justify-content-center
                                a.nav-link(href=domain + "about-me", class=(activePage === "About Me" ? "active" : ''))
                                    span(class=(activePage === "About Me" ? "underline" : '')) #{__("About Me")}
                            li.nav-item.d-flex.justify-content-center
                                a.nav-link(href=domain + "contact", class=(activePage === "Contact" ? "active" : ''))
                                    span(class=(activePage === "Contact" ? "underline" : '')) #{__("Contact")}
                        // Empty space to push language switcher to the right
                        div.ms-auto.d-flex.justify-content-center
                            if user && user.userId && user.userId !== ""
                                // profile button domain + "user/" + user.userId, method="get"
                                a.btn.btn-outline-primary.mx-auto.me-md-4(href=domain + "user/" + user.userId)
                                    i.fas.fa-user
                                a.btn.btn-outline-danger.mx-auto.me-md-4(href=domain + "auth/logout")
                                    i.fas.fa-sign-out-alt
                            div.dropdown.d-flex.justify-content-center.align-items-center.mx-auto(style='width: 100px')
                                button.btn.btn-outline-primary.no-caret.d-flex.align-items-center.justify-content-center(data-bs-toggle="dropdown" style='width: 100%; height: 100%;')
                                    i.fas.fa-language.fa-xl
                                ul.dropdown-menu(style='min-width: 0; width: auto; white-space: nowrap;')
                                    li
                                        a.dropdown-item.d-flex.justify-content-center(href='?lang=en')
                                            span English
                                    li
                                        a.dropdown-item.d-flex.justify-content-center(href='?lang=fr')
                                            span Français
                                    li
                                        a.dropdown-item.d-flex.justify-content-center(href='?lang=zh-CN')
                                            span 简体中文
                                    li
                                        a.dropdown-item.d-flex.justify-content-center(href='?lang=zh-HK')
                                            span 繁體中文
            if info
                +alertMessage('info', info)
            if error
                +alertMessage('danger', error)
            if success
                +alertMessage('success', success)
            if warning
                +alertMessage('warning', warning)
            // Main content
            block content
            // Centered Footer
            //footer.w-100.d-flex.justify-content-center.py-3(style='position: absolute; bottom: 0; color: gray;')
            footer.w-100.d-flex.justify-content-center.py-3.mt-auto(style="color: gray; z-index: 100")
                div.text-center
                    p.mb-0
                        a(href=domain + "auth/login", style='text-decoration: none; color: gray;')
                            | Copyright &#169; 2021-
                            span(id='current-year')
                        a(href=domain, style='text-decoration: none; color: gray;')
                            |  #{__("Ziyi LIU")}
    script(type='text/javascript').
        document.getElementById('current-year').textContent = new Date().getFullYear();

// Include Bootstrap JS (via npm-installed file)
script(type="module" src="/javascripts/script.js")
script(src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js")
script(src="/modules/jquery/dist/jquery.slim.js")
script(src="/modules/typewriter-effect/dist/core.js")
script(src="/modules/chart.js/dist/chart.js")
script(src="/modules/typewriter-effect/dist/react.js")
script(src="/modules/@fortawesome/fontawesome-free/js/all.min.js")

